{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1 class="screenHeading">{{ args.title }}</h1>

<h2 class="screenHeading" style="font-size:1em">Publications Appeared In</h2>

<table>
    <thead>
        <tr>
            <td></td>
            {% for column in args.data["header"] %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Total Appearances</th>
            {% for column in args.data["publications_data"] %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>First Appearances</th>
            {% for column in args.data["first_author_data"] %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Last Appearances</th>
            {% for column in args.data["last_author_data"] %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Sole Appearances</th>
            {% for column in args.data["sole_author_data"] %}
            <td>{{ column }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<h2 class="screenHeading" style="font-size:1em">Times Coauthored a publication: {{ args.data["times_coauthored"] }}</h2>

{% endblock %}
