{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<script type="text/javascript">
    $().ready(function() {
        $("#table1").dataTable({"bPaginate": false, "bFilter": false,"bInfo": false,"bJQueryUI": true});
        $("#table2").dataTable({"bPaginate": false, "bFilter": false,"bInfo": false,"bJQueryUI": true});
        $("#table3").dataTable({"bPaginate": false, "bFilter": false,"bInfo": false,"bJQueryUI": true});
        $("#table4").dataTable({"bPaginate": false, "bFilter": false,"bInfo": false,"bJQueryUI": true});
    });
</script>


<h1 class="screenHeading">{{ args.title }}</h1>
{% for table in args.tables %}
<h2>{{ table.title }}</h2>
<table id="table{{table.id}}">
  <thead>
    <tr>
      {% for column in table.header %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table.rows %}    
      <tr>
        {% for data_item in row %}
          <td>{{ data_item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
{% endfor %}
{% endblock %}
