{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!--ul>
    <li><a href="/search">Search an Author</a></li>
    <li><a href="/statisticsdetails/publication_summary">Publication Summary</a></li>
    <li><a href="/statisticsdetails/publication_author">Publication by Author</a></li>
    <li><a href="/statisticsdetails/publication_year">Publication by Year</a></li>
    <li><a href="/statisticsdetails/author_year">Author by Year</a></li>
    <li><a href="/averages">Averaged Year Data</a></li>
    <li><a href="/coauthors">Co-Authors</a></li>
</ul-->
    <div id="top-icons-bar">
        <div class="home-widget  width32 ">
            <div id="authorBarButton" class="home-icon-widget">
                <a href="#home">
                    <div class="home-icon-container">
                        <span class="author-menu-icon"><img src="../jquery/images/author-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get details by author</h3>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32 ">
            <div id="yearBarButton" class="home-icon-widget">
                <a href="#home">
                    <div class="home-icon-container">
                        <span class="year-menu-icon"><img src="../jquery/images/calendar-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get details by year</h3>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32  last-widget ">
            <div id="statisticsBarButton" class="home-icon-widget">
                <a href="#home">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/statistics-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get some statistics</h3>
                </a>
            </div>																										
        </div>	  
    </div>

    <div id="author-suboptions">
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/search">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/author-search-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Search by author name</h3>
                    <p><font face="Arial" size="2" color="white">
                        Search for an author either by specific name or partial.
                        </font></p>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/statisticsdetails/publication_author">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/publication-author-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get publications by author</h3>
                    <p><font face="Arial" size="2" color="white">
                        A breakdown of publication information by author.
                        </font></p>
                </a>
            </div>																										
        </div>

    </div>

    <div id="year-suboptions">
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/statisticsdetails/author_year">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/author-year-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get author details by year</h3>
                    <p><font face="Arial" size="2" color="white">
                        A table showing author information on a yearly basis.
                        </font></p>
                </a>
            </div>																										
        </div>

        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/statisticsdetails/publication_year">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/publication-year-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Get publications by year</h3>
                    <p><font face="Arial" size="2" color="white">
                        A table showing publication information on a yearly basis.
                        </font></p>
                </a>
            </div>																										
        </div>
    </div>

    <div id="statistics-suboptions">
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/statisticsdetails/publication_summary">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/publication-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Publication Summary</h3>
                    <p><font face="Arial" size="2" color="white">
                        A simple summary of publications and authors separated by publication types.
                        </font></p>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/coauthors">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/group-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Co-Authors Statistics</h3>
                    <p><font face="Arial" size="2" color="white">
                        A detailed listing of each authors co-author statistics. Includes total coauthorings and names of each co-author. Also provides filtering of information.
                        </font></p>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/degrees_of_separation">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/network-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Degrees of Separation</h3>
                    <p><font face="Arial" size="2" color="white">Compare two authors to see the degrees of seperation, where each degree is a collaboration with an author. 1 Degree would be working on the same paper, two degrees would be they have worked with a common author separately.</font></p>
                </a>
            </div>																										
        </div>
        <div class="home-widget  width32  last-widget ">
            <div class="home-icon-widget">
                <a href="/coauthor_network">
                    <div class="home-icon-container">
                        <span class="statistics-menu-icon"><img src="../jquery/images/network-icon.png" style="margin: 0;height:100px;border:0px;"/></span>
                    </div>
                    <h3>Coauthor Network</h3>
                    <p><font face="Arial" size="2" color="white">Select an author and view all cauthors of that author, click a coauthor and view all their coauthors. View the network of coauthors.</font></p>
                </a>
            </div>																										
        </div>
    </div>


{% endblock %}
